{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
		<audio loop="true" volume="0.2" autoplay>
		<source src="images/audio/Game.mp3" type="audio/mpeg">
	</audio>

	<video loop="true" autoplay="true" muted="true" width="100%">
		<source src="images/glitchvid.mp4" type="video/mp4">
	</video>
	<footer>
		<a id="totkoL" href="Wubidubidubidu.html"><img src="images/totko.png" ></a>
		<a id="totkoR" href="We_Ourselves_and_Us.html"><img src="images/totkoR.png" ></a>
	</footer>


{% endblock %}
