<!DOCTYPE html>
<html lang="en">

<head>
	<title>Vanina Tsvetkova</title>
	<meta charset="utf-8" />
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.js"></script>
<!-- 	<script type="text/javascript" src="sketches/newCrawl.js"></script> -->
	<style type="text/css">
		html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
}
#totko {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 80px;
}

#totko:hover {
	height: 150px;
}

.avatars {
	position: fixed;
	height: 130px;
}
#iara{
	top: 100px;
}
#nino{
	left: 100px;
}
		
	</style>
</head>
<body>
<!-- 	<audio  loop src="images/audio/Wubidubidubidu.mp3" autoplay ></audio> -->



<img class="avatars" id="iara" src="images/iara.png">
<img class="avatars" id="nino" src="images/nino.png">

<script type="text/javascript">
	window.onload = init;
	var context;
	var bufferloader;
	
	function init(){
		context = new AudioContext();
		bufferLoader = new BufferLoader(
			context,
			[
			'images/audio/Wubidubidubidu.mp3'
			],
			finishedLoading
			);
		bufferLoader.load();
	}
	
	function finishedLoading(bufferList){
		var source = context.createBufferSource();
		source.buffer = bufferList[0];

	}
	
	
	//rate = context.createBufferSource();
	//Now we want to create a filter
	filter = context.createBiquadFilter();
	source.connect(filter); //and of course connect it
	filter.type = "lowpass"; 

    filter.connect(context.destination);
	

	(function() {
    document.onmousemove = handleMouseMove;
    
    function handleMouseMove(event) {
        var audio, mapX, mapY, iara, nino, eventDoc, doc, body, pageX, pageY;
        event = event || window.event;
        if (event.pageX == null && event.clientX != null) {
	        eventDoc = (event.target && event.target.ownerDocument) || document;
	        doc = eventDoc.documentElement;
	        body = eventDoc.body;

	        event.pageX = event.clientX +
	          (doc && doc.scrollLeft || body && body.scrollLeft || 0) -
	          (doc && doc.clientLeft || body && body.clientLeft || 0);
	        event.pageY = event.clientY +
	          (doc && doc.scrollTop  || body && body.scrollTop  || 0) -
	          (doc && doc.clientTop  || body && body.clientTop  || 0 );
      }
	// linearly maps value from the range (a..b) to (c..d)
      function mapRange (value, a, b, c, d) {
	    // first map value from (a..b) to (0..1)
	    value = (value - a) / (b - a);
	    // then map it from (0..1) to (c..d) and return it
	    return c + value * (d - c);
	}

  	mapX = mapRange(event.pageX, 0, window.innerWidth, 70, 1000);
  	mapY = mapRange(event.pageY, 0, window.innerHeight, 0.5, 4);
  	filter.frequency.value = mapX;
  	
  	iara = document.getElementById('iara');
  	nino = document.getElementById('nino');
  	iara.style.left = event.pageX + "px";
  	nino.style.top = event.pageY + "px";
	audio = document.getElementsByTagName('audio')
	source.playbackRate = mapY;
	// source.addEventListener('timeupdate', function(){
	//     if(!isNaN(source.currentTime)) {
	//         source.playbackRate.value = mapY;
	//     }
	// });
    console.log("MouseXposition: ", event.pageX, "MouseYposition: ",event.pageY, "\nMapX: ", mapX, "mapY:", mapY);




   }
})();

</script>

<footer>
	<a  href="Osculator.html"><img id="totko" src="images/totkoR.png" ></a>

</footer>
</body>

</html>
