<!DOCTYPE html>
<html lang="en">

<head>
	<title>Vanina Tsvetkova</title>
	<meta charset="utf-8" />
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.sound.min.js"></script>
	<script type="text/javascript" src="sketches/iara.js"></script>
	
<style type="text/css">
		html, body {
  height: 100%;
}

body {
  display: flex;
  background-color: #9696ff;
}
#totkoL {
  position: fixed;
  left: 20px;
  bottom: 20px;
}
#totkoR {
  position: fixed;
  right: 20px;
  bottom: 20px;
}		
.avatars {
	position: fixed;
	height: 130px;
}
img:hover {
	height: 150px;
}
img{
	height: 80px;
}
video{
	justify-content: center;
}
	</style>

</head>


<body>

<!-- <audio loop="true" volume="0.2" autoplay>
	<source src="images/audio/Wubidubidubidu.mp3" type="audio/mpeg">
</audio> -->

<!-- <img class="avatars" id="iara" src="images/iara.png">
<img class="avatars" id="nino" src="images/nino.png"> -->


	<footer>
		<a id="totkoL" href="Dont_mess_with_my_World.html"><img src="images/totko.png" ></a>
		<a id="totkoR" href="My_Secret_TV_Channel.html"><img src="images/totkoR.png" ></a>
	</footer>

</body>