{% extends 'base.html' %}
{% block head %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<style type="text/css">
		html, body {
	  height: 100%;
	}

	body {
	  margin: 0;
	  display: flex;
	  background-color: black;
	  color: white;
	}
	#totko {
	  text-decoration: none;
	  display: inline-block;
	  padding: 8px 16px;
	  position: absolute;
	  right: 20px;
	  bottom: 20px;
	}
	#vimeo{
		position: absolute;
		right: 0;
		bottom: 0;

	}
	.text{
		display: table;
		margin: auto;
		padding: 50px;
		width: 80%;
		height: 100%;
		color: white;
		text-align: left;

	}
	.friends{
		display: table-row;

		width: 200px;
		text-align: left;
	}
			.info{
		text-decoration: none;
		position: absolute;
		width: 100px;
		transform: scaleX(-1);
	}
	.info:hover{
		width: 150px;
	}
	#about{
		right: 50px;
		top: 50px;
	}
	#praise{
		left: 50px;
		top: 50px;
	}

	</style>
{% endblock %}

{% block body %}
	<a href="{{ url_for('professionalia') }}"><img class="info" id="about" src="{{ url_for('storage', filename='images/tromba.png') }}" ></a>
	<div class="text">
		
		<video src="{{ url_for('storage', filename='videos/tvteaser.mp4') }}" autoplay loop></video>

		<div class="friends">
			Vanina Tsvetkova is part of: <br><br>
			Artistic trio "cTrL+V"<br>
	
	Lead singer at "the creature' funky disco friends"<br>
	Member of the experimental music duo "Monana"<br>
	Creator and participant of/in the experimental performance formation "We, Ourselves and Us"<br>
	Part of the LTT project "BAD" (beyond art disciplines - Iceland, Sweden, the Netherlands)<br>
		</div>
	<div class="friends">
		<a target="_blank" href="https://soundcloud.com/vaninatsvetkova">Soundcloud</a><br>
	<a target="_blank" href="https://vimeo.com/user7172380">Vimeo</a><br>
	<a target="_blank" href="https://www.instagram.com/vaaaaaninaaaaa">Instagram</a><br>
	<a target="_blank" href="https://www.vaninatsvetkova.com">www.vaninatsvetkova.com</a><br>
	<a target="_blank" href="https://www.twitch.tv/vaaaaaninaaaaa">Twitch</a>
	</div>
	<div class="friends">
		vanitsvet@hotmail.com <br>
		+31 (0)6 39769985
	</div>
	</div>

{% endblock %}

