<!DOCTYPE html>
<html lang="en">

<head>
	<title>Vanina Tsvetkova</title>
	<meta charset="utf-8" />
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.sound.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="sketches/sphereOrbit.js"></script>
	<style type="text/css">
		html, body {
  height: 100%;
}

body {
  display: flex;
  background-color: black;
}
#totkoL {
  position: fixed;
  left: 20px;
  bottom: 20px;
}
#totkoR {
  position: fixed;
  right: 20px;
  bottom: 20px;
}		
#iara {
	position: fixed;
	right: 30px;
	top: 30px;
}
img:hover {
	height: 150px;
}
img{
	height: 80px;
}
video{
	justify-content: center;
}
.loadingclass {
	margin: auto;
	text-align: center;
	color: white;
}

	</style>

</head>


<body>
	<audio  loop="true" volume="0.2" autoplay="true">
		<source src="images/orbit.mp3" type="audio/mpeg">
	</audio>
	<div id="p5_loading" class="loadingclass"><h1>LOADING</h1></div>

	<footer>
		<a id="totkoL" href="My_Secret_TV_Channel.html"><img src="images/totko.png" ></a>
		<a id="totkoR" href="Crackle_Box.html"><img src="images/totkoR.png" ></a>
	</footer>


</body>